.footer {
  background-color: #5c51a4;
  color: white;
  padding: 2rem 1.5rem;
  text-align: center;
}

.footer a {
  color: #e0e0ff;
  margin: 0 1rem;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
