.footer {
  color: white !important;
<<<<<<< HEAD
  background-color: #5c51a4;
=======
  background-color: white;
>>>>>>> a9b3a65 (changed styles)
  padding: 2rem 1.5rem;
  text-align: center;
}

.footer a {
  color: #e0e0ff !important;
  margin: 0 1rem;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
<<<<<<< HEAD
  color: white !important;
=======
  color: navy !important;
>>>>>>> a9b3a65 (changed styles)
}
